.bottom-credit a, .bottom-credit a {
    position: fixed;
    bottom: 0;
    color: #c4c4c4;
    right: 0;
    margin: 20px 20px;
  }
  
  .bottom-credit a h5{
    font-weight: 800;
    font-size: x-large;
    display: -webkit-inline-box;
  }
  .bottom-credit a {
    display: -webkit-inline-box;
    gap: 10px;
  }

  .bottom-credit img{
    padding: 0px 5px;
  }